.linkContainer {
  display: none;
}
.menuLinkContainer {
  margin-top: 3em;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 0;
}

@media screen and (min-width: 800px) {
  .linkContainer {
    display: block;
    list-style: none;
    margin: 0;
    display: flex;
    gap: 2em;
    margin-left: 0;
  }

  .linkContainer > li {
    height: 115px;
    width: 75px;
  }

  .linkContainer > li:hover {
    border-bottom: 3px solid var(--Orange);
    padding-top: 3px;
  }

  .linkContainer > li:hover > a {
    color: black;
    font-weight: 600;
  }
}
