@media screen and (min-width: 800px) {
  .link {
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    font-size: 0.95rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.menuLink {
  text-decoration: none;
  color: var(--Very-dark-blue);
  font-size: 1.15rem;
  font-weight: 700;
}

.menuLink:hover,
.menuLink:focus {
  border-bottom: 3px solid var(--Orange);
}
